*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
.wrepper{
	   display: flex;
	   flex-direction: column;
	   justify-content: center;
	align-items: center;
	  background-image: linear-gradient(#d47fec,#e611a7);
		height: 480px;
		/*height: 100vh;*/
}
.pera1 .span{
	width: 40rem;
	background-color: #000;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 30px;
	border-radius:70px;
	margin-top: 30px;

}
.pera1 .span i{
	background: #fff;
	color: #000;
	padding: .2rem;
	border-radius: .8rem;
}
p{
	display: none;
}
